<div class="M_PostToCollectionCard">
    <div class="A_Paragraph"><%= collection.name %></div>
    <%= render partial: 'collections/toggle_add_button', locals: { collection: collection, post: @post } %>
</div>