<p style="color: green"><%= notice %></p>

<h1>Комментарии</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", [:admin, comment] %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_admin_comment_path %>
