<%#=turbo_frame_tag "profileCollections" do %>
    <div class="O_Posts Hidden" data-profile-target="collections">
        <div class="W_Posts Collections">
            <% collections.each do |collection| %>
                <%= render partial: 'collections/collection', locals: { collection: collection } %>
            <% end %>
        </div>
    </div>
<%# end %>