<div class="comment" id="<%= dom_id comment %>">
  <p>
    <%= comment.body.html_safe %>
  </p>

  <div>
    <%= link_to "Редактировать", edit_post_comment_path(@post, comment) %>
    <%= button_to "Удалить", [@post, comment], method: :delete %>
  </div>
</div>