<div id="<%= dom_id comment %>">
  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

</div>

<div>
  <%= link_to "Edit this comment", edit_post_comment_path(@post, comment) %>
  <%= button_to "Destroy this comment", [@post, comment], method: :delete %>
</div>