<p style="color: green"><%= notice %></p>

<h1 class="A_Heading1">Вложения</h1>
<div class="A_Button">
  <%= link_to "Добавить вложение", new_admin_attachment_path, class:"A_ButtonText" %>
</div> 
<div class="W_Posts">
  <% @attachments.each do |attachment| %>
    <% path = attachment.is_a?(Photo) ? [:admin, attachment] : attachment %>
    <%= link_to path do %>
      <%= render attachment %>
    <% end %>
  <% end %>
</div>
