@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .A_Heading1 {
    font-size: 40px;
  }
  .A_Heading1:before {
    width: 283px;
    height: 62px;
  }
  .A_Heading2 {
    font-size: 32px;
  }
  .A_Heading3 {
    font-size: 24px;
  }
  .A_Paragraph,
  .A_Link,
  .A_Button,
  .A_Input {
    font-size: 18px;
  }
  .A_Input {
    padding: 16px 12px;
  }
  .Q_ChaoticLetters {
    width: 775px;
    height: 380px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .A_Heading1 {
    font-size: 36px;
    letter-spacing: 18px;
  }
  .A_Heading1:before {
    width: 257px;
    height: 56px;
    top: -3px;
    left: -20px;
  }
  .A_Heading2 {
    font-size: 28px;
  }
  .A_Heading3 {
    font-size: 22px;
  }
  .A_Paragraph,
  .A_Link,
  .A_Button,
  .A_Input {
    font-size: 16px;
  }
  .A_Input {
    padding: 14px 12px;
    width: 539px;
  }
  // .W_BigButton {
  //   width: 424px;
  // }
  .A_SearchInput {
    width: 360px;
  }
  .A_PictureAbout {
    margin-top: 0vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .A_Heading1 {
    font-size: 32px;
    letter-spacing: 16px;
  }
  .A_Heading1:before {
    width: 226px;
    height: 50px;
  }
  .A_Heading2 {
    font-size: 28px;
  }
  .A_Heading3 {
    font-size: 22px;
  }
  .A_Paragraph,
  .A_Link,
  .A_Button,
  .A_Input {
    font-size: 14px;
  }
  .A_Input {
    width: 428px;
    padding: 14px 12px;
  }
  .A_Input {
    width: 428px;
  }
  // .W_BigButton {
  //   width: 394px;
  // }
  .A_SearchInput {
    width: 269px;
  }
  .A_PictureAbout {
    margin-top: 0vh;
  }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
  .A_Heading1 {
    font-size: 24px;
    letter-spacing: 12px;
  }
  .A_Heading1:before {
    width: 171px;
    height: 37px;
    top: -3px;
    left: -20px;
  }
  .A_Heading2 {
    font-size: 24px;
  }
  .A_Heading3 {
    font-size: 20px;
  }
  .A_Paragraph,
  .A_Link,
  .A_Button,
  .A_Input {
    font-size: 14px;
  }
  .A_Input {
    width: 324px;
    padding: 14px 12px;
  }
  .Q_ChaoticLetters {
    display: none;
  }
  .A_Input {
    width: 324px;
  }
  .W_BigButton {
    width: 300px;
  }
  .A_PictureAbout {
    display: none;
  }
  .A_PictureAboutMobile {
    display: block;
  }
}
