@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .W_Dropdown {
    .M_Dropdown {
      width: 352;
      margin-left: 992px;
      .Q_MockImage {
        width: 80px;
        height: 80px;
      }
    }
  }
  .M_PostActions {
    margin-top: 64px;
    .W_ButtonGroup {
      gap: 12px;
    }
  }
  .M_Comment {
    gap: 8px;
    padding: 12px;
    width: 888px;
    .W_AllTextParts {
      gap: 12px;
      .W_NameAndBody {
        gap: 6px;
      }
      .W_BottomPart {
        .W_DateAndReplyButton {
          gap: 8px;
        }
      }
    }
    .M_EditCommentForm {
      .A_Input {
        height: 124px;
      }
    }
  }
  .M_InputWithAvatar {
    gap: 8px;
  }
  .M_Banner {
    width: 1344px;
    .W_Banner {
      width: 684px;
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .W_Dropdown {
    .M_Dropdown {
      width: 317;
      margin-left: 666px;
      .Q_MockImage {
        width: 72px;
        height: 72px;
      }
    }
  }
  .M_PostPreview {
    width: 317px;
    height: 267px;
  }
  .M_Banner {
    width: 983px;
    .W_Banner {
      width: 555px;
    }
  }
  .M_Search {
    .A_Logo {
      width: 539px;
      height: 132px;
    }
  }
  .M_PostHeading {
    gap: 24px;
  }
  .C_TagCollection {
    max-width: 679px;
  }
  .M_PostActions {
    margin-top: 64px;
    .W_ButtonGroup {
      gap: 8px;
    }
  }
  .M_Comment {
    gap: 8px;
    padding: 12px;
    width: 761px;
    .W_AllTextParts {
      gap: 12px;
      .W_NameAndBody {
        gap: 6px;
      }
      .W_BottomPart {
        .W_DateAndReplyButton {
          gap: 8px;
        }
      }
    }
    .M_EditCommentForm {
      .A_Input {
        height: 124px;
      }
    }
  }
  .M_InputWithAvatar {
    gap: 8px;
  }
  .M_EditForm {
    width: 539px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .W_Dropdown {
    .M_Dropdown {
      width: 294;
      margin-left: 256px;
      .Q_MockImage {
        width: 64px;
        height: 64px;
      }
    }
  }
  .M_EditForm {
    width: 428px;
  }
  .M_FormHeader {
    gap: 12px;
    .A_Heading3 {
      width: 428px;
    }
  }
  .M_InputWithLabel {
    gap: 6px;
  }
  .W_InputsColumn {
    gap: 12px;
    margin-top: 0px;
  }
  .W_FormButton {
    margin-top: 0px;
    gap: 12px;
  }
  .W_FormAdditionalInfo {
    margin-top: 24px;
    gap: 12px;
  }
  .M_PostPreview {
    width: 317px;
    height: 267px;
  }
  .M_Banner {
    width: 643px;
    .W_Banner {
      width: 321px;
    }
  }
  .M_Search {
    .A_Logo {
      width: 428px;
      height: 105px;
    }
  }
  .M_PostHeading {
    gap: 24px;
  }
  .C_TagCollection {
    max-width: 650px;
  }
  .M_PostActions {
    margin-top: 48px;
    .W_ButtonGroup {
      gap: 8px;
    }
  }
  .M_Dropdown {
    padding: 12px;
  }
  .M_Comment {
    gap: 8px;
    padding: 8px;
    width: 650px;
    .W_AllTextParts {
      gap: 12px;
      .W_NameAndBody {
        gap: 6px;
      }
      .W_BottomPart {
        .W_DateAndReplyButton {
          gap: 8px;
        }
      }
    }
    .M_EditCommentForm {
      .A_Input {
        height: 124px;
      }
    }
  }
  .M_InputWithAvatar {
    gap: 8px;
  }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
  .M_FormHeader {
    gap: 12px;
    .A_Heading3 {
      width: 324px;
    }
  }
  .M_InputWithLabel {
    gap: 6px;
  }
  .W_InputsColumn {
    gap: 12px;
    margin-top: 0px;
  }
  .W_FormButton {
    margin-top: 0px;
    gap: 12px;
  }
  .W_FormAdditionalInfo {
    margin-top: 24px;
    gap: 12px;
  }
  .M_PostPreview {
    width: 324px;
    height: 261px;
    .W_PostPreview {
      gap: 12px;
    }
  }
  .M_Banner {
    width: 324px;
    height: 270px;
    a {
      flex-direction: column;
    }

    .W_Banner {
      width: 324px;
      height: auto;
    }
    .A_Image {
      align-self: stretch;
      width: 100%;
      &.NoImage {
        background-image: url('DefaultAvatars/1.png');
        background-size: contain;
      }
    }
  }
  .M_Search {
    .A_Logo {
      display: none;
    }
  }
  .M_PostHeading {
    gap: 24px;
  }
  .C_TagCollection {
    max-width: 324px;
  }
  .M_PostActions {
    margin-top: 48px;
    .W_ButtonGroup {
      gap: 4px;
      p {
        display: none;
      }
    }
  }
  .M_Dropdown {
    padding: 12px;
  }
  .M_Comment {
    gap: 8px;
    padding: 8px;
    width: 324px;
    .W_AllTextParts {
      gap: 12px;
      .W_NameAndBody {
        gap: 6px;
      }
      .W_BottomPart {
        .W_DateAndReplyButton {
          gap: 8px;
        }
      }
    }
    .M_EditCommentForm {
      .A_Input {
        height: 124px;
      }
    }
  }
  .M_InputWithAvatar {
    gap: 8px;
    .A_Input {
      width: 220px;
    }
  }
  .M_EditForm {
    width: 324px;
  }
}
