@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .W_Body {
    width: 1344px;
  }

  .O_Header {
    .W_Menu {
      width: 1344px;
    }
  }
  .O_Footer {
    .W_FooterText {
      gap: 52px;
      padding: 43px 0;
      .W_FooterLinks {
        gap: 24px;
      }
    }
    .A_Caption {
      width: 287px;
    }
  }
  .O_Posts {
    .W_Posts {
      gap: 24px;
    }
  }
  .O_CommentsSection {
    width: 1116px;
  }
  .O_Post {
    width: 1116px;
    .W_PostBody {
      width: 908px;
    }
  }
  .O_SearchBox {
    .A_Input {
      .A_Paragraph {
        &.Short {
          width: 952px;
        }
      }
      &.Short {
        width: 1000px;
      }
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .W_Body {
    width: 983px;
  }
  .O_Header {
    .W_Menu {
      width: 983px;
    }
  }
  .O_Footer {
    .W_FooterText {
      gap: 32px;
      padding: 54px 0;
      .W_FooterLinks {
        gap: 16px;
      }
    }
    .A_Caption {
      width: 287px;
    }
  }
  .O_Posts {
    .W_Posts {
      gap: 16px;
    }
  }
  .O_CommentsSection {
    width: 983px;
  }
  .O_Post {
    width: 983px;
    .W_PostBody {
      width: 761px;
    }
  }
  .O_SearchBox {
    .A_Input {
      width: 983px;
      .A_Paragraph {
        width: 935px;
        &.Short {
          width: 819px;
        }
      }
      &.Short {
        width: 867px;
      }
    }
  }
  .O_AddToCollectionDropdown {
    .C_CollectionList {
      max-height: 499px;
    }
  }
  .O_CollectionBirth {
    .W_HeaderPopUp {
      width: 539px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .W_Body {
    width: 650px;
  }
  .O_Account {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;

    .M_ProfileInfo {
      display: flex;
      width: 324px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      .A_Icon {
        height: 158px;
        width: 158px;
      }
      .W_ProfileInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        .W_ProfileName {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          height: auto;
        }
        .A_Paragraph {
          text-align: center;
        }
      }
    }
  }
  .O_Header {
    .W_Menu {
      width: 650px;
    }
  }
  .O_Footer {
    .W_FooterText {
      gap: 32px;
      padding: 40px 0 72px 0;
      .W_FooterLinks {
        gap: 16px;
      }
    }
    .A_Caption {
      width: 287px;
      color: var(--dark_gray);
    }
  }
  .O_Posts {
    .W_Posts {
      gap: 8px;
    }
  }
  .O_CommentsSection {
    width: 650px;
  }
  .O_Post {
    width: 650px;
    .W_PostBody {
      width: 650px;
    }
  }
  .O_SearchBox {
    .A_Input {
      width: 650px;
      height: 32px;
      .A_Paragraph {
        width: 602px;
        height: 32px;
        &.Short {
          width: 492px;
        }
      }
      &.Short {
        width: 540px;
      }
    }
  }
  .O_AddToCollectionDropdown {
    .C_CollectionList {
      max-height: 492px;
    }
  }
  .O_CollectionBirth {
    .W_HeaderPopUp {
      width: 428px;
    }
  }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
  .W_Body {
    width: 324px;
  }
  .O_Account {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    .M_ProfileInfo {
      display: flex;
      width: 324px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      .A_Icon {
        height: 158px;
        width: 158px;
      }
      .W_ProfileInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        .W_ProfileName {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          height: auto;
          .A_Paragraph {
            text-align: center;
          }
        }
      }
    }
  }
  .O_Header {
    display: none;
  }
  .O_HeaderMobile {
    display: flex;
  }
  .O_Footer {
    background-image: none;
    .W_FooterText {
      gap: 32px;
      padding: 97px 0 30px 0;
      .W_FooterLinks {
        gap: 16px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 280px;
      }
    }
    .A_Caption {
      width: 287px;
      color: var(--dark_gray);
    }
    .A_Logo {
      top: 30px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .O_Posts {
    .W_Posts {
      gap: 8px;
    }
  }
  .O_CommentsSection {
    width: 324px;
    .W_CommentReplies {
      margin-left: 52px;
      .M_Comment {
        width: 272px;
      }
    }
  }
  .O_Post {
    width: 324px;

    .W_PostBody {
      width: 324px;
      margin: 32px auto 0 auto;
    }
  }
  .W_PostBody {
    blockquote {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .O_CustomTrixEditor {
    blockquote {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .O_SearchBox {
    .A_Input {
      width: 324px;
      height: 32px;
      .A_Paragraph {
        width: 276px;
        height: 32px;
        &.Short {
          width: 276px;
        }
      }
      &.Short {
        width: 324px;
      }
    }
    .A_Button {
      display: none;
    }
  }
  .O_AddToCollectionDropdown {
    padding: 16px 12px 12px 12px;
    .C_CollectionList {
      max-height: 444px;
    }
    .W_BigButton {
      left: 12px;
      bottom: 12px;
    }
  }
  .O_CollectionBirth {
    .W_HeaderPopUp {
      width: 324px;
    }
  }
}
