<section>
  <div class="W_AllMainLines">
      <div class="W_MainLine">
        <div class="A_MainHeading1 part1">
        Путь к моему
        </div>
        <div class="A_MainHeading1Antiqua part2">
          сердцу
        </div>
      </div>
      <div class="W_MainLine">
        <div class="A_MainHeading1 part3">
          <div class="right">
            лежит 
          </div>
        </div>
      </div>
      <div class="W_MainLine">
        <div class="A_MainHeading1 part4">
          через
        </div>
      </div>
      <div class="W_MainLine">
        <div class="A_MainHeading1Antiqua part5">
          <div class="right">
            звук
          </div>
        </div>
      </div>
    </div>
  <div class="A_BgSlide1">
    <div class="A_BgSlide1_Left"></div>
    <div class="A_BgSlide_Center"></div>
    <div class="A_BgSlide1_Right"></div>
    <div class="Q_BgSlide1_Pic"></div>
  </div>
</section>
<section>
  <div class="Texts">
    <div class="A_TextBlock">
      Луток&nbsp;&mdash; медиа-сервис о&nbsp;близости, родстве и&nbsp;нежности через&nbsp;то, что раньше звучало громче и&nbsp;объединяло нас всех.
    </div>
    <div class="A_TextBlock">
      Мы&nbsp;собираем и&nbsp;храним
          <div class="A_Highlighted">
      <div class="A_HighlightedText">
        фольклор
      </div>
    </div>
    </div>
  </div>
  <div class="A_BgSlide2">
  <div class="A_BgSlide2_Left"></div>
  <div class="A_BgSlide_Center"></div>
  <div class="A_BgSlide2_Right"></div>
  <div class="Q_BgSlide2_Pic"></div>
  </div>
</section>
<section class="section3">
  <div class="Texts">
    <div class="A_TextBlock">
      Мы&nbsp;объединяем исследователей, художников, просто любителей научпопа и&nbsp;всех-всех-всех вместе
    </div>
  </div>
  <div class="A_BgSlide3">
  <div class="A_BgSlide3_Left"></div>
  <div class="A_BgSlide_Center"></div>
  <div class="A_BgSlide3_Right"></div>
  </div>
</section>
<section class="section4">
  <div class="Texts">
    <div class="A_TextBlock">
      Давай вместе дадим 
    </div>
    <div class="A_TextBlock">
      жизнь фольклору*
    </div>
  </div>
  <div class="snoska">
    *Это клеточный автомат — прямая метафора того, как работает фольклор. Нажми, чтобы внести вклад и посмотреть, как это отразится на будущем
  </div>
  <div class="A_BgSlide4">
  <main class="A_BgSlide4">
    <div class="A_BgSlide4_Left"></div>
  <div class="A_BgSlide_Center"></div>
  <div class="A_BgSlide4_Right"></div>
  </main>
  </div>
</section>
<section class="section5">
  <div class="SubscribeContent">
    <div class="Texts">
      <div class="A_TextBlock">
        Оставь свой тг&nbsp;или подпишись на&nbsp;канал, чтобы быть в&nbsp;курсе
      </div>
    </div>
    <div class="W_Subscribe">
      <%= turbo_frame_tag @subscription do %>
        <%= render 'subscriptions/form', subscription: @subscription %>
      <% end%>
    </div>
  </div>
  <div class="A_BgSlide5"> <div class="A_BgSlide5_Left"></div>
  <div class="A_BgSlide_Center"></div>
  <div class="A_BgSlide5_Right"></div>
  <div class="Q_BgSlide5_Pic"></div>
  </div>
</section>
<div class="A_BgSlide6"></div>
