<section class="section5">
    <div class="SubscribeContent">
      <div class="Texts">
        <div class="A_TextBlock">
          Оставь свой тг&nbsp;или подпишись на&nbsp;канал, чтобы быть в&nbsp;курсе
        </div>
      </div>
      <div class="W_Subscribe">
        <%= turbo_frame_tag @subscription do %>
          <%= render 'subscriptions/form', subscription: @subscription %>
        <% end%>
      </div>
    </div>
    <div class="A_BgSlide5"> <div class="A_BgSlide5_Left"></div>
    <div class="A_BgSlide_Center"></div>
    <div class="A_BgSlide5_Right"></div>
    <div class="Q_BgSlide5_Pic"></div>
    </div>
  </section>