<div class="M_Search">
    <%= link_to "", welcome_index_url, class: "A_Logo #{random_logo_class}" %>
    <%= render partial: 'application/searchform' %>
</div>

<div class="O_Posts">
    <% if @items.empty? %>
      <p class="A_Heading3">Лутки не найдены</p>
    <% else %>
        <p class="A_Heading3">Лутки</p>
        <div class="W_Posts">
        <% @items.each do |item| %>
                <%= render partial: 'posts/post-preview', locals: { post: item.searchable } %>
        <% end %>
        </div>
    <% end %>
</div>