<div class="M_Post" id="<%= dom_id post %>">
  
  <p class="A_PostHeading A_Heading3"><%= post.title.html_safe %></p>

  <% if local_assigns[:show_email] %>
    <%= "Автор: #{post.user.profile.username}" %>
  <% end %>

  <pre class="A_PostDescription A_Text"><%= post.text %></pre>
  
</div>
