<div class="M_Post" id="<%= dom_id post %>">
<%#= image_tag post.post_image.url, class:"A_PostImage" if post.post_image.url %>
  <p class="A_Heading2"><%= post.title.html_safe %></p>

  <pre class="A_Heading3"><%= post.text.html_safe %></pre>

  <p class="A_Paragraph"><%= post.user.email %></p>

</div>
