
<p style="color: green"><%= notice %></p>

<h1>Песни</h1>

<%= link_to "Выложить песню", new_admin_post_path %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= link_to [:admin, post], class:"postLink" do%>
      <%= render post %>
    <% end %>
  <% end %>
</div>
