
<p style="color: green"><%= notice %></p>

<h1 class="A_Heading1">Лутки</h1>
 <div> 
  <%#= link_to "Выложить песню", new_admin_post_path, class:"A_Paragraph" %>
</div> 
<div class="W_Posts">
  <% @posts.each do |post| %>
    <%= link_to [:admin, post] do%>
      <%= render partial: 'admin/posts/post', locals: { post: post, show_email: true } %>
    <% end %>
  <% end %>
</div>
