<div class="A_Decoration"></div>
<div class="M_Heading">
../новый пост
</div> 
<%= render "form", post: @post %>

<div class='W_NewPost'>
<div class="A_Link">
  <%= link_to "Обратно к постам", admin_posts_path %>
</div>
</div>
