<div class="M_Banner" id="<%= dom_id post %>">
    <div class="W_Banner">
        <p class="A_Heading2"><%= post.title %></p>
        <%= render 'posts/tags_collection', post: post %>
    </div>
    <div class = "A_Image"></div>
    <div>
</div>