<div class="M_Banner" id="<%= dom_id post %>">
    <div class="W_Banner">
        <p class="A_Heading2"><%= post.title %></p>
        <div class="C_Tags">
        <div class="A_Tag A_Paragraph Antiqua"><%= post.tag_list %></div>
    </div>
    </div>
    <div class = "A_Image"></div>
    <div>
</div>