<div id="<%= dom_id post %>">
<%= image_tag post.post_image.url, width:100 %>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>

</div>
