<div class="M_PostPreview" id="<%= dom_id post %>">
    <div class="W_PostPreview">
        <p class="A_Heading3"><%= post.title %></p>
        <p class="A_Paragraph"><%= post.text %></p>
    </div>
    <div class="C_Tags">
        <div class="A_Tag A_Paragraph Antiqua"><%= post.tag_list %></div>
    </div>
</div>