<div class="post" id="<%= dom_id post %>">
<%= image_tag post.post_image.url, class:"postImage" %>
  <p>
    <h2><%= post.title.html_safe %></h2>
  </p>

  <p>
    <%= post.text.html_safe %>
  </p>

</div>
