<div class="O_Posts">
  <p class="A_Heading3"> Другие лутки </p>
  <div class="W_Posts">
  <% 6.times do %>
    <% post = Post.offset(rand(Post.count)).first %>
    <%= render partial: 'posts/post-preview', locals: { post: post } %>
  <% end %>
  </div>
</div>