<div class="C_TagCollection">
  <%= content_tag :span, post.kind_list.first, class: "A_Tag kind" if post.kind_list.any? %>
  <%= content_tag :span, post.theme_list.first, class: "A_Tag theme" if post.theme_list.any? %>
  <%= content_tag :span, post.language_list.first, class: "A_Tag language" if post.language_list.any? %>
  <%= content_tag :span, post.nationality_list.first, class: "A_Tag nationality" if post.nationality_list.any? %>
</div>