.A_Paragraph {
  position: relative;
  display: block;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  color: var(--black);
  &.Grey {
    color: var(--dark_gray);
  }
  &.White {
    color: var(--white);
  }
  &.Blue {
    color: var(--dark_blue);
  }
  &.Red {
    color: var(--red);
  }
  &.Bold {
    font-weight: 700;
  }
  &.Antiqua {
    font-family: 'Noto Serif';
  }
  &.hidden {
    display: none;
  }
}
.A_Link {
  position: relative;
  display: block;
  font-family: 'Noto Sans';
  font-weight: normal;
  font-size: 18px;
  line-height: 115%;
  text-decoration: underline;
  color: var(--black);
  cursor: pointer;
  &.Arrow {
    text-decoration: none;
  }
  &.Arrow::after {
    content: url('Icons/LinkArrow.svg');
    padding-left: 6px;
  }
}
.A_Heading1 {
  position: relative;
  font-family: 'Noto Serif';
  color: var(--black);
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 22px;
  text-transform: uppercase;
}
.A_Heading1::placeholder {
  color: var(--gray);
}
input {
  outline: none;
  border: none;
  .Heading1 {
    outline: none;
  }
}
.A_Heading2 {
  font-family: 'Noto Serif';
  color: var(--black);
  font-size: 36px;
  font-style: normal;
  line-height: 115%;
  font-weight: 400;
  font-size: 45px;
}
.A_Heading3 {
  font-family: 'Noto Serif';
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  &.Link {
    cursor: pointer;
    text-decoration: underline;
  }
}
.A_Button {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 10px 30px;
  width: fit-content;
  height: 40px;
  border-radius: 12px;
  text-decoration: none;
  font-family: 'Noto Sans';
  font-weight: normal;
  font-size: 18px;
  line-height: 115%;
  border: none;
  outline: none;
  cursor: pointer;
  &.Blue {
    background-color: var(--dark_blue);
    color: var(--white);
  }
  &.White {
    background-color: var(--white);
    color: var(--black);
  }
  &.Grey {
    background-color: var(--gray);
    color: var(--black);
  }
  &.Black {
    background-color: var(--black);
    color: var(--white);
  }
  &.Red {
    background-color: var(--red);
    color: var(--white);
  }
  &.LightBlue {
    background-color: var(--blue);
    color: var(--white);
  }
  &.Pink {
    background-color: var(--pink);
    color: var(--black);
  }
  &.Transparent {
    background-color: transparent;
    color: var(--black);
    padding: 8px 0px;
  }
  &.Underlined {
    background-color: transparent;
    color: var(--black);
    text-decoration: underline;
  }
  &.Icon {
    background-image: url('icons/Send.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 11px 10px;
    border-radius: 30px;
    width: 44px;
    height: 44px;
    padding: 0 0;
    opacity: 1;
  }
  &.IconText {
    background-position: 16px 9.5px;
  }
}
.W_BigButton {
  position: relative;
  display: block;
  width: 484px;
  height: fit-content;
  background-color: var(--pink);
  border-radius: 12px;
  box-shadow: 0px 15px 20px 0px rgba(108, 111, 121, 0.07),
    0px 5px 8px 0px rgba(0, 0, 0, 0.04);
  .A_Button {
    margin: 16px auto;
  }
}
.Q_Icon {
  position: relative;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
  &.Small {
    width: 16px;
    height: 16px;
  }
  &.Large {
    width: 40px;
    height: 40px;
  }
  &.More {
    background-image: url('icons/More.svg');
  }
  &.Share {
    background-image: url('icons/Share.svg');
  }
  &.Add {
    background-image: url('icons/Add.svg');
  }
  &.Edit {
    background-image: url('icons/Edit.svg');
  }
  &.Delete {
    background-image: url('icons/Delete.svg');
  }
  &.Tick {
    background-image: url('icons/Tick.svg');
  }
  &.Cross {
    background-image: url('icons/Cross.svg');
  }
  &.Search {
    background-image: url('icons/Search.svg');
  }
  &.SearchGray {
    background-image: url('icons/SearchGray.svg');
  }
  &.ArrowUp {
    background-image: url('icons/ArrowUpInCircle.svg');
  }
  &.ArrowDown {
    background-image: url('icons/ArrowDownInCircle.svg');
  }
  &.ArrowRight {
    background-image: url('icons/ArrowRightInCircle.svg');
  }
  &.ArrowLeft {
    background-image: url('icons/ArrowLeftInCircle.svg');
  }
  &.Close {
    background-image: url('icons/Close.svg');
  }
}
.A_Logo {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &.Blue1 {
    background-image: url('logo/Blue1.svg');
  }
  &.MidSummer1 {
    background-image: url('logo/MidSummer1.svg');
  }
  &.MidSummer2 {
    background-image: url('logo/MidSummer2.svg');
  }
  &.MidSummer3 {
    background-image: url('logo/MidSummer3.svg');
  }
  &.MidSummer4 {
    background-image: url('logo/MidSummer4.svg');
  }
  &.MidSummer5 {
    background-image: url('logo/MidSummer5.svg');
  }
}
.A_Input {
  display: flex;
  width: 660px;
  height: 40px;
  padding: 16px 12px;
  align-items: center;
  font-family: 'Noto Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  color: var(--black);
  background: var(--gray);
  border-radius: 12px;
  text-decoration: none;
  border: 0px;
  overflow: visible;
  &.TextArea {
    height: 285px;
  }
}
.A_Input::placeholder {
  color: var(--dark_gray);
}
.Q_ChaoticLetters {
  background-image: url('Q_ChaoticLetters.svg');
  width: 970px;
  height: 475px;
  position: absolute;
  right: 0;
  bottom: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.A_Checkbox {
  position: relative;
}

input[type='checkbox'] {
  display: none;
}

input:focus {
  outline: none;
}

input[type='checkbox'] + label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

input[type='checkbox'] + label::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--gray);
  margin-right: 10px;
}

input[type='checkbox']:checked + label::before {
  background-color: var(--dark_blue);
  background-image: image-url('Icons/CheckBox.svg');
  background-size: cover;
}
.A_Caption {
  position: relative;
  display: block;
  font-family: 'Noto Serif';
  font-weight: normal;
  font-size: 16px;
  line-height: 115%;
  color: var(--black);
  &.Gray {
    color: var(--dark_gray);
  }
}
.A_Avatar {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  object-fit: cover;
  &.NoImage {
    background-image: url('DefaultAvatars/1.png');
    background-size: contain;
  }
}
.A_IconButton {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 16px;
  text-decoration: none;
  font-family: 'Noto Sans';
  font-weight: normal;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  &.Blue {
    background-color: var(--dark_blue);
  }
  &.White {
    background-color: var(--white);
  }
  &.Black {
    background-color: var(--black);
  }
  &.Transparent {
    background-color: none;
  }
  &.Attachment {
    background-image: url('Icons/Attachment.svg');
  }
}
.A_Tag {
  position: relative;
  display: inline-flex;
  color: var(--black);
  font-family: 'Noto Serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  height: 28px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--gray);
  &.Selected {
    &.kind {
      background-color: var(--blue);
      color: var(--white);
      transition: 0.2s;
    }
    &.kind:before,
    &.theme:before,
    &.language:before,
    &.nationality:before {
      background-color: var(--white);
    }
    &.theme {
      background-color: var(--pink);
      color: var(--white);
      transition: 0.2s;
    }
    &.language {
      background-color: var(--green);
      color: var(--white);
      transition: 0.2s;
    }
    &.nationality {
      background-color: var(--orange);
      color: var(--white);
      transition: 0.2s;
    }
  }
  &.None {
    display: none;
  }
  &.newTag {
    cursor: pointer;
    &.kind:hover {
      background-color: var(--blue);
      color: var(--white);
      transition: 0.2s;
    }
    &.theme:hover {
      background-color: var(--pink);
      color: var(--white);
      transition: 0.2s;
    }
    &.language:hover {
      background-color: var(--green);
      color: var(--white);
      transition: 0.2s;
    }
    &.nationality:hover {
      background-color: var(--orange);
      color: var(--white);
      transition: 0.2s;
    }
  }
  &.newTag:hover:before {
    background: var(--white);
    transition: 0.2s;
  }
  &.existing {
    cursor: pointer;
    &.kind:hover {
      background-color: var(--blue);
      color: var(--white);
      transition: 0.2s;
    }
    &.theme:hover {
      background-color: var(--pink);
      color: var(--white);
      transition: 0.2s;
    }
    &.language:hover {
      background-color: var(--green);
      color: var(--white);
      transition: 0.2s;
    }
    &.nationality:hover {
      background-color: var(--orange);
      color: var(--white);
      transition: 0.2s;
    }
  }
  &.existing:hover:before {
    background: var(--white);
    transition: 0.2s;
  }
}
.A_Tag:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-right: 8px;
  &.kind {
    background: var(--blue);
  }
  &.theme {
    background: var(--pink);
  }
  &.language {
    background: var(--green);
  }
  &.nationality {
    background: var(--orange);
  }
}

.A_PostEditorInput::placeholder {
  color: var(--dark_gray);
}

#A_LogoDescriptor {
  display: none;
  width: 300px;
  position: absolute;
  background-color: var(--white);
  padding: 16px;
  border-radius: 13px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  font-family: 'Noto Sans';
}
.M_SectionName {
  height: fit-content;
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
  .A_Paragraph {
    height: fit-content;
    width: fit-content;
  }
  .W_Captions {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1em;
    top: 38px;
    .A_Caption {
      width: 318px;
      height: fit-content;
    }
  }
}
.A_SearchInput {
  position: relative;
  width: 384px;
  height: 32px;
  border-bottom: 2px solid var(--dark_gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  .A_Paragraph {
    height: fit-content;
    background: none;
    padding: none;
    overflow: visible;
    border: 0;
    padding-bottom: 2px;
  }
  .A_Paragraph::placeholder {
    color: var(--dark_gray);
  }
}
.A_PictureAbout {
  width: 100%;
  margin: 0 auto;
  height: auto;
  position: absolute;
  top: 0;
  // left: 50%; /* Сдвиг влево на 50% */
  // transform: translateX(-50%);
  z-index: -1;
  margin-top: -10vh;
}
.A_PictureAboutMobile {
  display: none;
  width: 100vw;
  margin: 0 auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%; /* Сдвиг влево на 50% */
  transform: translateX(-50%);
  z-index: -1;
}
