.M_FormHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  gap: 16px;
  .A_Heading3 {
    width: 774px;
  }
}
.W_SubRegisterButton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;
}
.W_InputLabel {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: fit-content;
  height: fit-content;
  align-items: end;
  .A_Paragraph {
    margin-bottom: 2px;
  }
}
.M_InputWithLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: fit-content;
  height: fit-content;
}
.W_InputsColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
  height: fit-content;
  margin-top: 64px;
}
.W_FormButton {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin-top: 64px;
  gap: 16px;
}
.W_FormAdditionalInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  height: fit-content;
  margin-top: 32px;
  gap: 16px;
}
.W_Dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  .M_Dropdown {
    display: inline-flex;
    overflow: hidden;
    position: fixed;
    top: 60px;
    margin-left: 1418px;
    width: 382px;
    z-index: 101;
    background-color: var(--white);
    padding: 16px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    &.NotActive {
      display: none;
      height: 0;
    }
    .M_ProfilePreview {
      display: flex;
      flex-direction: row;
      gap: 16px;
      width: 350px;
      align-items: start;
      padding-left: 8px;
      .W_PreviewInfo {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
    .A_Button {
      border-bottom: 2px solid var(--gray);
      border-radius: 0;
      width: 350px;
    }
    .Q_MockImage {
      position: relative;
      display: block;
      width: 90px;
      height: 90px;
      border-radius: 100px;
      &.NoImage {
        background-color: var(--dark_gray);
      }
    }
  }
}
.C_TextEditorButtons {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.C_TagCollection {
  position: relative;
  display: flex;
  width: 828px;
  height: fit-content;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}
.M_Comment {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  align-items: flex-start;
  gap: 8px;
  padding: 12px;
  width: 888px;
  border-bottom: 2px solid var(--gray);
  .W_AllTextParts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    .W_NameAndBody {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;
      align-self: stretch;
    }
    .W_BottomPart {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      .W_DateAndReplyButton {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
  .A_Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }
  .A_Button::after {
    content: url('Q_ArrowDown.svg');
    position: relative;
    width: 24px;
    height: 24px;
    background-size: cover;
  }
}
.M_InputWithAvatar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 8px;
}
.M_PostAuthor {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: fit-content;
  .W_NameAndNick {
    position: relative;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.W_PostPage {
  position: relative;
  display: block;
  width: 1344px;
  margin: 0 auto;
}
.M_PostHeading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.W_CommentReplies {
  position: relative;
  // display: none;
  display: block;
  margin-left: 100px;
  &.open {
    display: block;
  }
}
.M_PostPreview {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  width: 432px;
  height: 248px;
  padding: 16px;
  border-radius: 10px;
  background: var(--gray);
  .W_PostPreview {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    overflow: hidden;
    height: fit-content;
    .trix-content {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .A_Heading3 {
      width: 100%;
      height: fit-content;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    @media (max-height: 3em) {
      .A_Heading3,
      .trix-content {
        height: auto;
        -webkit-line-clamp: unset;
      }
    }
  }
  .C_Tags {
    position: relative;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    gap: 5px;
    align-self: stretch;
    flex-wrap: wrap;
  }
}
