* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Pragmatica', sans-serif;
  font-weight: 400;
  background-color: var(--gray);
  overflow: overlay;
}

a {
  text-decoration: none;
}
