* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Pragmatica', sans-serif;
  font-weight: 400;
  background-color: var(--white);
  overflow: overlay;
  cursor: url('Q_Cursor.svg'), auto;
}

a {
  text-decoration: none;
  cursor: url('Q_Cursor_Pointer.svg'), pointer;
}
