.post {
  position: relative;
  display: block;
  width: 500px;
  height: fit-content;
  /* border: 3px solid magenta; */
  /* border-radius: 20px; */
  overflow: hidden;
  padding: 20px;
}
.postImage {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.postLink {
  position: relative;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  color: black;
  border: 3px solid magenta;
  border-radius: 20px;
}
.postLink:hover {
  opacity: 70%;
  border: 3px solid cyan;
}
#posts {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.comment {
  position: relative;
  display: block;
  height: fit-content;
  width: 500px;
  background-color: rgb(222, 222, 222);
  border-radius: 10px;
}
.comments {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
