button {
  border: 0;
  text-decoration: none;
}

.A_Heading1 {
  position: relative;
  display: block;
  font-size: 72px;
  margin: 0 auto;
  padding: 100px 0 50px;
  text-align: center;
}
.A_Heading3 {
  font-family: Noto Serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}
.A_Nickname {
  color: var(--dark_gray);
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

section {
  position: relative;
  width: fit-content;
}
.A_BgSlide1 {
  margin-top: 6.3vh;
}
.A_BgSlide1,
.A_BgSlide2,
.A_BgSlide3,
.A_BgSlide4,
.A_BgSlide5 {
  margin-bottom: 7px;
  position: relative;
  width: 100vw;
  z-index: -1;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  gap: 0;
}
.A_BgSlide6 {
  position: relative;
  margin-top: -10vh;
  background-image: url('Q_BgSlide6_Pic.svg');
  background-size: 80%;
  background-position: 2vw 0;
  background-repeat: no-repeat;
  display: block;
  width: 100vw;
  z-index: -2;
  height: 50vh;
}
.A_BgSlide3 {
  height: 30vh;
}

.A_BgSlide1_Left {
  width: 100px;
  background-image: url('A_BgSlide1Left.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.A_BgSlide1_Right {
  width: 100px;
  background-image: url('A_BgSlide1Right.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.A_BgSlide2_Left {
  width: 100px;
  background-image: url('A_BgSlide2Left.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.A_BgSlide2_Right {
  width: 100px;
  background-image: url('A_BgSlide2Right.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.A_BgSlide3_Left {
  width: 100px;
  background-image: url('A_BgSlide3Left.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.A_BgSlide3_Right {
  width: 100px;
  background-image: url('A_BgSlide3Right.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.A_BgSlide4_Left {
  width: 100px;
  background-image: url('A_BgSlide4Left.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
// .A_BgSlide4 {
//   cursor: url('Q_Cursor_Pointer.svg'), pointer;
//   overflow-x: hidden;
// }
.A_BgSlide4_Right {
  width: 100px;
  background-image: url('A_BgSlide4Right.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.A_BgSlide_Center {
  width: calc(100% - 200px);
  background-color: var(--black);
}
.A_BgSlide5_Left {
  width: 100px;
  background-image: url('A_BgSlide5Left.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.A_BgSlide5_Right {
  width: 100px;
  background-image: url('A_BgSlide5Right.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
// canvas {
//   position: absolute;
//   cursor: url('Q_Cursor_Pointer.svg'), pointer;
// }
.Q_BgSlide1_Pic {
  position: absolute;
  background-image: url('Q_BgSlide1_Pic.svg');
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 100%;
}
.Q_BgSlide2_Pic {
  position: absolute;
  background-image: url('Q_BgSlide2_Pic.svg');
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 100%;
}
.Q_BgSlide5_Pic {
  position: absolute;
  background-image: url('Q_BgSlide5_Pic.svg');
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100% auto;
  background-position: bottom;
  height: 100%;
}

.A_MainHeading1 {
  position: relative;
  display: inline-block;
  font-size: 6vw;
  line-height: 100%;
  color: var(--white);
  .right {
    position: absolute;
    right: -87vw;
  }
}
.part1 {
  margin-left: 4vw;
}
.part2 {
  margin-left: 2vw;
  background-color: var(--white);
}
// .part3 {
//   // margin-left: 73vw;
// }
.part4 {
  margin-left: 21vw;
}
.part5 {
  margin-left: 10vw;
}

.A_MainHeading1Antiqua {
  font-family: 'Times New Roman';
  font-style: italic;
  position: relative;
  display: inline-block;
  font-size: 8vw;
  line-height: 110%;
  color: var(--black);
  .right {
    position: absolute;
    right: -90vw;
    width: 61vw;
    height: 9vh;
    background-color: var(--white);
    line-height: 20%;
  }
}
.W_AllMainLines {
  position: absolute;
  width: 100%;
}
.W_MainLine {
  position: relative;
  display: block;
  width: 100%;
  height: 15vh;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
}
.M_Post {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: fit-content;
}
.A_PostHeading {
  position: relative;
  font-size: 36px;
  color: var(--black);
}
.A_PostDescription {
  position: relative;
  font-size: 18px;
  color: var(--black);
}
.W_Posts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-align: center;
  width: 1360px;
  height: fit-content;
  gap: 8px;
  margin: 50px auto;
  .M_Post {
    width: 437px;
    height: 245px;
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
  }
}
.W_Posts:hover {
  border-color: pink;
}
.W_Comments {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: fit-content;
  height: fit-content;
  margin: 50px auto;
}
.Edit {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 650px;
  gap: 20px;
  padding-bottom: 20px;
}
.W_ShowPost {
  position: relative;
  padding-top: 100px;
  display: block;
  width: fit-content;
  height: fit-content;
  padding-left: 38px;
}
.M_EditForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100vw;
  padding-left: 67px;
  height: fit-content;
  .A_Button {
    color: var(--white);
    background-color: var(--dark_blue);
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
.Texts {
  position: absolute;
  top: 5vh;
  left: 4vw;
}
.A_TextBlock {
  position: relative;
  display: inline-block;
  width: 70vw;
  height: fit-content;
  color: var(--white);
  font-size: 2.7vw;
  margin-top: 10vh;
}
.A_Highlighted {
  position: absolute;
  display: inline-block;
  background-color: var(--white);
  width: 61vw;
  left: 35vw;
  height: 6vh;
}
.A_HighlightedText {
  position: relative;
  color: var(--black);
  font-family: 'Times New Roman';
  font-size: 3.7vw;
  line-height: 70%;
  font-style: italic;
  vertical-align: top;
}
.section3 {
  .Texts {
    left: 30vw;
  }
  .A_TextBlock {
    margin-top: 0;
  }
}
.section5 {
  .Texts {
    position: relative;
    margin-top: 5vh;
    width: 90vw;
  }
  .A_TextBlock {
    margin-top: 0;
    width: 65vw;
  }
}
.SubscribeContent {
  position: absolute;
  width: fit-content;
  height: fit-content;
}
.W_Subscribe {
  position: relative;
  display: block;
}

.Form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // gap: 5vw;
  top: 20vh;
  margin: 0 auto;
  width: 100vw;
}
.A_InputButton {
  width: 32vw;
  height: 7vh;
  font-size: 2.7vw;
  background-color: var(--white);
  color: var(--black);
  border: none;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}
.A_InputButton:hover {
  background-color: var(--black);
  color: var(--white);
  border: var(--white) solid 2px;
  transition: 0.4s;
}
.section4 {
  .Texts {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .A_TextBlock {
    font-size: 5vw;
    color: var(--black);
    background-color: var(--white);
    width: fit-content;
    margin: 0;
  }
  .snoska {
    position: absolute;
    display: block;
    width: 64vw;
    bottom: 3vw;
    left: 3vw;
    height: fit-content;
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 2vw;
    color: var(--white);
    background-color: var(--black);
  }
}
.Attachment {
  position: relative;
  display: block;
  height: 100px;
  width: 100px;
  background-color: aquamarine;
}
.W_Attachments {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

////////////////////////////////////////////////

.O_Menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 75px;
  background-color: var(--gray);
  .W_MenuElements {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 40px;
  }
  .W_MenuElementsLeft {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .W_MenuElementsRight {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
  }
  .A_Button:hover {
    background-color: var(--dark_blue);
    .A_Paragraph {
      color: var(--white);
    }
  }
  .A_Profile {
    display: flex;
    flex-direction: row;
    gap: 16px;
    .avatar-thumbnail {
      width: 46px;
      height: 46px;
      border-radius: 200px;
    }
  }
}
.A_Logo {
  background-image: url('A_LogoSurqhuri.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.A_MenuLogo {
  height: 100%;
  z-index: 101;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 137px;
}
.A_Paragraph {
  position: relative;
  display: block;
  font-family: 'Noto Sans';
  font-weight: normal;
  font-size: 18px;
  line-height: 115%;
  color: var(--black);
}
.A_MenuElement {
  padding: 13px 13px;
  &:hover {
    color: var(--dark_blue);
  }
}
.A_Button {
  position: relative;
  display: block;
  background-color: var(--white);
  padding: 8px 60px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  .A_Paragraph {
    text-decoration: none;
    color: var(--black);
  }
}
.A_Whisper {
  position: relative;
  display: block;
  font-family: 'Noto Serif';
  font-weight: normal;
  font-size: 13px;
  line-height: 115%;
  color: var(--black);
}
.O_Footer {
  position: relative;
  margin-top: 300px;
  width: 100%;
  height: 277px;
  background-color: var(--gray);
  background-image: url('Q_FooterCorner.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  .W_FooterText {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .W_FooterLinks {
      position: relative;
      display: flex;
      flex-direction: row;
      .A_Paragraph::after {
        content: url('Q_LinkArrow.svg');
      }
      .A_MenuElement {
        width: fit-content;
        height: fit-content;
      }
    }
  }
  .A_Whisper {
    width: 282px;
    height: fit-content;
    text-align: center;
  }
  .A_Logo {
    z-index: 101px;
    position: absolute;
    display: block;
    width: 137px;
    height: 34px;
    left: 12px;
    bottom: 12px;
  }
}
.no-avatar {
  background-color: grey; /* Set the desired background color for the "no avatar" state */
}

////////////////////
// User
.O_Account {
  margin: 0 auto;
  top: 96px;
  height: 207px;
  margin-bottom: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1352px;
  flex-wrap: nowrap;
  .A_Icon {
    width: 207px;
    height: 207px;
    border-radius: 300px;
    display: block;
  }
  .W_Account {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 16px;
    gap: 16px;
  }
  .A_Button {
    background-color: var(--dark_blue);

    .A_Paragraph {
      color: var(--white);
    }
    .A_Button:hover {
      background-color: var(--black);
    }
  }
}

.M_Posts {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 100px;
  display: flex;
  width: 102px;
  height: 28px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.W_Posts {
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 140px;
}

.A_Text {
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

.M_Heading {
  padding-top: 100px;
  position: relative;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 25px;
  text-transform: uppercase;
}
.M_Heading::before {
  content: url('M_Heading.svg');
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.A_Heading2 {
  font-family: Noto Serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  text-decoration: none;
  border: 0px;
}
.A_Input {
  display: flex;
  width: 470px;
  height: fit-content;
  padding: 22px 32px;
  align-items: center;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  color: var(--dark_gray);
  border-radius: 30px;
  background: #fff;
  text-decoration: none;
  border: 0px;
}
.custom-file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.custom-file-upload input {
  position: absolute;
  font-size: 100px;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.file-label {
  display: inline-block;
  position: relative;
  background-color: var(--white);
  padding: 8px 60px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.A_Decoration {
  background-image: url('A_Decoration.svg');
  width: 50vw;
  height: 50vw;
  position: absolute;
  right: 0;
  top: 20vh;
  background-repeat: no-repeat;
}
.W_NewPost {
  margin-top: 64px;
  position: relative;
  left: 67px;
  text-decoration: underline;
  color: var(--black);
}
