button {
  border: 0;
  text-decoration: none;
}
.A_Nickname {
  color: var(--dark_gray);
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
}
.M_Post {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: fit-content;
}
.A_PostHeading {
  position: relative;
  font-size: 36px;
  color: var(--black);
}
.A_PostDescription {
  position: relative;
  font-size: 18px;
  color: var(--black);
}
.W_Posts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-align: center;
  width: 1360px;
  height: fit-content;
  gap: 8px;
  margin: 50px auto;
  .M_Post {
    width: 437px;
    height: 245px;
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
  }
}
.W_Posts:hover {
  border-color: pink;
}
.W_Comments {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: fit-content;
  height: fit-content;
  margin: 50px auto;
}
.Edit {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 650px;
  gap: 20px;
  padding-bottom: 20px;
}
.W_ShowPost {
  position: relative;
  padding-top: 100px;
  display: block;
  width: fit-content;
  height: fit-content;
  padding-left: 38px;
}
.M_EditForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100vw;
  padding-left: 67px;
  height: fit-content;
  .A_Button {
    color: var(--white);
    background-color: var(--dark_blue);
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
.Texts {
  position: absolute;
  top: 5vh;
  left: 4vw;
}
.A_TextBlock {
  position: relative;
  display: inline-block;
  width: 70vw;
  height: fit-content;
  color: var(--white);
  font-size: 2.7vw;
  margin-top: 10vh;
}
.A_Highlighted {
  position: absolute;
  display: inline-block;
  background-color: var(--white);
  width: 61vw;
  left: 35vw;
  height: 6vh;
}
.A_HighlightedText {
  position: relative;
  color: var(--black);
  font-family: 'Times New Roman';
  font-size: 3.7vw;
  line-height: 70%;
  font-style: italic;
  vertical-align: top;
}
.section3 {
  .Texts {
    left: 30vw;
  }
  .A_TextBlock {
    margin-top: 0;
  }
}
.section5 {
  .Texts {
    position: relative;
    margin-top: 5vh;
    width: 90vw;
  }
  .A_TextBlock {
    margin-top: 0;
    width: 65vw;
  }
}
.SubscribeContent {
  position: absolute;
  width: fit-content;
  height: fit-content;
}
.W_Subscribe {
  position: relative;
  display: block;
}

.Form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // gap: 5vw;
  top: 20vh;
  margin: 0 auto;
  width: 100vw;
}

.section4 {
  .Texts {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .A_TextBlock {
    font-size: 5vw;
    color: var(--black);
    background-color: var(--white);
    width: fit-content;
    margin: 0;
  }
  .snoska {
    position: absolute;
    display: block;
    width: 64vw;
    bottom: 3vw;
    left: 3vw;
    height: fit-content;
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 2vw;
    color: var(--white);
    background-color: var(--black);
  }
}
.Attachment {
  position: relative;
  display: block;
  height: 100px;
  width: 100px;
  background-color: aquamarine;
}
.W_Attachments {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

////////////////////////////////////////////////

.no-avatar {
  background-color: grey;
}

////////////////////
// User
.O_Account {
  margin: 0 auto;
  top: 96px;
  height: 207px;
  margin-bottom: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1352px;
  flex-wrap: nowrap;
  .A_Icon {
    width: 207px;
    height: 207px;
    border-radius: 300px;
    display: block;
  }
  .W_Account {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 16px;
    gap: 16px;
  }
  .A_Button {
    background-color: var(--dark_blue);

    .A_Paragraph {
      color: var(--white);
    }
    .A_Button:hover {
      background-color: var(--black);
    }
  }
}

.M_Posts {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 100px;
  display: flex;
  width: 102px;
  height: 28px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.W_Posts {
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 140px;
}

.A_Text {
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}
.custom-file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.custom-file-upload input {
  position: absolute;
  font-size: 100px;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.file-label {
  display: inline-block;
  position: relative;
  background-color: var(--white);
  padding: 8px 60px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}
.W_NewPost {
  margin-top: 64px;
  position: relative;
  left: 67px;
  text-decoration: underline;
  color: var(--black);
}

///////////////////////////////////V3

.W_Body {
  padding-top: 108px;
  position: relative;
  width: 1800px;
  margin: 0 auto;
}
.A_Paragraph {
  position: relative;
  display: block;
  font-family: 'Noto Sans';
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  color: var(--black);
  &.Grey {
    color: var(--dark_gray);
  }
  &.White {
    color: var(--white);
  }
}
.A_Link {
  position: relative;
  display: block;
  font-family: 'Noto Sans';
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  text-decoration: underline;
  color: var(--black);
  &.Arrow {
    text-decoration: none;
  }
  &.Arrow::after {
    content: url('Q_LinkArrow.svg');
    padding-left: 6px;
  }
}
.A_Heading1 {
  position: relative;
  font-family: 'Noto Serif';
  color: var(--black);
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 27.5px;
  text-transform: uppercase;
}
.A_Heading1::before {
  content: url('M_Heading.svg');
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: -10px;
}
.A_Heading2 {
  font-family: 'Noto Serif';
  color: var(--black);
  font-size: 36px;
  font-style: normal;
  line-height: 115%;
  font-weight: 400;
  font-size: 45px;
}
.A_Heading3 {
  font-family: 'Noto Serif';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}
.A_Button {
  position: relative;
  display: block;
  padding: 8px 30px;
  width: fit-content;
  height: fit-content;
  border-radius: 16px;
  text-decoration: none;
  font-family: 'Noto Sans';
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  border: none;
  outline: none;
  cursor: pointer;
  &.Blue {
    background-color: var(--dark_blue);
    color: var(--white);
  }
  &.White {
    background-color: var(--white);
    color: var(--black);
  }
  &.Black {
    background-color: var(--black);
    color: var(--white);
  }
  &.Transparent {
    background-color: none;
    color: var(--black);
  }
  &.Underlined {
    background-color: none;
    color: var(--black);
    text-decoration: underline;
  }
}
.A_Input {
  display: flex;
  width: 546px;
  height: fit-content;
  padding: 22px 32px;
  align-items: center;
  font-family: 'Noto Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  color: var(--black);
  background: var(--gray);
  border-radius: 30px;
  text-decoration: none;
  border: 0px;
}
.A_Input::placeholder {
  color: var(--dark_gray);
}
.M_FormHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  gap: 16px;
  .A_Heading3 {
    width: 774px;
  }
}
.W_SubRegisterButton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;
}
.W_InputLabel {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: fit-content;
  height: fit-content;
  align-items: end;
  .A_Paragraph {
    margin-bottom: 2px;
  }
}
.M_InputWithLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: fit-content;
  height: fit-content;
}
.W_InputsColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
  height: fit-content;
  margin-top: 64px;
}
.W_FormButton {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin-top: 64px;
  gap: 16px;
}
.W_FormAdditionalInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  height: fit-content;
  margin-top: 32px;
  gap: 16px;
}
.Q_ChaoticLetters {
  background-image: url('Q_ChaoticLetters.svg');
  width: 970px;
  height: 475px;
  position: absolute;
  right: 0;
  bottom: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.A_Checkbox {
  position: relative;
}

input[type='checkbox'] {
  display: none;
}

input:focus {
  outline: none;
}

input[type='checkbox'] + label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

input[type='checkbox'] + label::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--gray);
  margin-right: 10px;
}

input[type='checkbox']:checked + label::before {
  background-color: var(--dark_blue);
  background-image: image-url('Q_CheckBoxIcon.svg');
  background-size: cover;
}
.A_Caption {
  position: relative;
  display: block;
  font-family: 'Noto Serif';
  font-weight: normal;
  font-size: 13px;
  line-height: 115%;
  color: var(--black);
}
.O_Footer {
  position: relative;
  width: 100%;
  margin-top: 100px;
  height: fit-content;
  background-color: var(--white);
  background-image: url('Q_FooterCorner.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  .W_FooterText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
    padding: 39px 0;
    .W_FooterLinks {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      width: fit-content;
    }
  }
  .A_Caption {
    width: 352px;
    height: fit-content;
    text-align: center;
  }
  .A_Logo {
    z-index: 101px;
    position: absolute;
    display: block;
    width: 140px;
    height: 34px;
    left: 10px;
    bottom: 10px;
  }
}
.O_Header {
  position: fixed;
  z-index: 100;
  height: 60px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  .W_Menu {
    position: relative;
    display: block;
    display: flex;
    width: 1800px;
    justify-content: space-between;
    align-items: flex-start;
    height: 40px;

    .A_Logo {
      display: block;
      background-image: url('A_LogoSurqhuri.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 140px;
      height: 34px;
    }
    .W_MenuBarRight {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      gap: 20px;
      width: fit-content;
      .A_AvatarHeaderButton {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        height: fit-content;
        .Q_MockImage {
          position: relative;
          display: block;
          width: 44px;
          height: 44px;
          border-radius: 100px;
          &.NoImage {
            background-color: var(--dark_gray);
          }
        }
        .Q_Opener {
          width: 14px;
          height: 30px;
          margin-left: 13px;
          background-image: url('Q_Opener.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position-y: center;
          cursor: pointer;
        }
      }
    }
  }
}
.W_Dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  .M_Dropdown {
    display: inline-flex;
    overflow: hidden;
    position: fixed;
    top: 60px;
    margin-left: 1418px;
    width: 382px;
    z-index: 101;
    background-color: var(--white);
    padding: 16px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    &.NotActive {
      display: none;
      height: 0;
    }
    .M_ProfilePreview {
      display: flex;
      flex-direction: row;
      gap: 16px;
      width: 350px;
      align-items: start;
      padding-left: 8px;
      .W_PreviewInfo {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
    .A_Button {
      border-bottom: 2px solid var(--gray);
      border-radius: 0;
      width: 350px;
    }
    .Q_MockImage {
      position: relative;
      display: block;
      width: 90px;
      height: 90px;
      border-radius: 100px;
      &.NoImage {
        background-color: var(--dark_gray);
      }
    }
  }
}

.A_IconButton {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 16px;
  text-decoration: none;
  font-family: 'Noto Sans';
  font-weight: normal;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  &.Blue {
    background-color: var(--dark_blue);
  }
  &.White {
    background-color: var(--white);
  }
  &.Black {
    background-color: var(--black);
  }
  &.Transparent {
    background-color: none;
  }
  &.Attachment {
    background-image: url('Q_IconAttachment.svg');
  }
}
.C_TextEditorButtons {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  text-align: right;
  font-style: italic;
  &::before {
    content: '«';
  }
  &::after {
    content: '»';
  }
}

.O_HeaderMobile {
  width: 100%;
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 101;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  .M_Dropdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    &.NotActive {
      display: none;
      height: 0;
    }
  }

  .W_HeaderMobile {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--white);
    padding: 15px 20px 18px 20px;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;

    .A_Logo {
      background-image: url('A_LogoSurqhuri.svg');
      width: 140px;
      display: block;
      height: 34px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .Q_Search {
      background-image: url('Q_Search.svg');
      width: 22.5px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .A_Menu_Mobile {
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      * {
        height: 2px;
        width: 30px;
        background-color: var(--dark_gray);
      }
    }
  }
}
