@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,100,400;0,100,600;1,87.5,400;1,100,400&family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,700&family=Noto+Serif&display=swap');
/* @font-face {
  font-family: 'Pragmatica';
  src: asset-url('ofont.ru.Pragmatica.ttf') format('ttf');
} */
