.W_PostEditor {
  padding-top: 32px;
  position: relative;
  width: 1800px;
  margin: 0 auto;
}
.O_CustomTrixEditor {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  .trix-content {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    height: fit-content;
    min-height: 60vh;
    padding: 16px 24px;
    // align-items: center;
    font-family: 'Noto Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    color: var(--black);
    background: var(--white);
    border-radius: 30px;
    text-decoration: none;
    border: 0px;
    overflow: visible;
  }
  trix-toolbar .trix-button-group:not(:first-child) {
    margin: 0;
  }
  trix-toolbar .trix-button:not(:first-child) {
    border-left: 0;
  }
  trix-toolbar .trix-button-group {
    display: flex;
    margin-bottom: 0;
    border: none;
    border-top-color: #ccc;
    border-bottom-color: #888;
    border-radius: 3px;
  }
  trix-toolbar .trix-button-row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
  }
  trix-toolbar {
    position: relative;
    width: fit-content;
    height: fit-content;
  }
  .trix-button {
    position: relative;
    display: flex;
    gap: 10px;
    padding: 0 20px;
    width: fit-content;
    height: 40px;
    border-radius: 16px;
    text-decoration: none;
    font-family: 'Noto Sans';
    font-weight: normal;
    font-size: 18px;
    line-height: 115%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    max-width: none;
    text-indent: 0;
    opacity: 1;
    border: none;
    align-items: center;
    &.underlined {
      text-decoration: underline;
    }
  }
  trix-toolbar .trix-button.trix-active {
    background-color: var(--blue);
    color: var(--white);
    transition: 0.2s;
  }
  .trix-button-group-spacer {
    display: none;
  }
  trix-toolbar .trix-button:disabled {
    background-color: var(--gray);
    color: var(--white);
  }
  trix-toolbar .trix-button--icon-bold::before,
  trix-toolbar .trix-button--icon-italic::before,
  trix-toolbar .trix-button--icon-link::before,
  trix-toolbar .trix-button--icon-quote::before,
  trix-toolbar .trix-button--icon-bullet-list::before,
  trix-toolbar .trix-button--icon-number-list::before,
  trix-toolbar .trix-button--icon-heading-1::before {
    background-image: none;
  }
  trix-toolbar .trix-button--icon-attach {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: var(--dark_blue);
  }
  .trix-button--icon-attach:hover {
    background-color: var(--pink);
    transition: 0.2s;
  }
  trix-toolbar .trix-button--icon-attach::before {
    background-image: url('Icons/Attachment.svg');
    opacity: 1;
    align-items: center;
    justify-content: center;
    background-size: 16px 24px;
  }

  .trix-button--icon-strike,
  .trix-button--icon-code,
  .trix-button--icon-decrease-nesting-level,
  .trix-button--icon-increase-nesting-level,
  trix-toolbar .trix-button-group--history-tools {
    display: none;
  }
  //трикс приколы, временно тут
  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  blockquote {
    text-align: left;
    font-style: italic;
    &::before {
      content: '«';
    }
    &::after {
      content: '»';
    }
  }
  a {
    text-decoration: underline;
    color: var(--blue);
  }
  p {
    text-indent: 120px;
  }
}
