:root {
  --white: #ffffff;
  --light_gray: #fafbff;
  --gray: #f1f2f9;
  --dark_gray: #a3acb6;
  --grey_stroke: rgba(240, 242, 248, 0.4);
  --black: #1e1e1e;
  --dark_blue: #1341b3;
  --pink: #ff8bf3;
  --yellow: #dbff00;
  --red: #ed212d;
  --blue: #17c1fb;
  --orange: #ffa41a;
  --green: #9cd471;
}
