<footer class="O_Footer">
  <div class="W_FooterText">
    <div class="W_FooterLinks">
      <%= link_to "о нас", welcome_about_url, class:"A_Paragraph A_MenuElement" %>
      <a src="#" class="A_Paragraph A_MenuElement">telegram канал </a>
      <a src="#" class="A_Paragraph A_MenuElement">youtube(скоро) </a>
      <a src="#" class="A_Paragraph A_MenuElement">магазин(скоро) </a> 
      <%= link_to "Поддержка", support_index_url, class: "A_Paragraph A_MenuElement" %>
    </div>
    <p class="A_Whisper">Придумали, задизайнили, захардкодили Маша Инна Карина Вадим Захар HSE ADC. © Луток 2023. Все права защищены</p>
    <p class="A_Paragraph">***</p>
  </div>
  <%= link_to "", welcome_index_url, class:"A_Logo" %>
</footer>