<footer class="O_Footer">
  <div class="W_FooterText">
    <div class="W_FooterLinks">
      <%= link_to "О нас", welcome_about_url, class:"A_Link Arrow" %>
      <a src="#" class="A_Link Arrow">Telegram канал</a>
      <!--<a src="#" class="A_Link Arrow">youtube(скоро)</a>
      <a src="#" class="A_Link Arrow">магазин(скоро)</a>-->
      <%= link_to "Поддержка", support_index_url, class: "A_Link Arrow" %>
    </div>
    <p class="A_Caption">Придумали, задизайнили, захардкодили Маша Инна Карина Вадим Захар HSE ADC. <br> © Луток 2024. Все права защищены</p>
    <p class="A_Caption">***</p>
  </div>
  <%= link_to "", welcome_index_url, class:"A_Logo" %>
</footer>