<footer class="M_Footer">
  <p class="A_Paragraph">Можете написать нам — мы будем рады
    а еще можете поделиться своими материалами</p>
  <br>
  <p class="A_Paragraph">Придумали, задизайнили, закодили</p>
  <div class="W_FooterAuthors">
    <a class="A_FooterLink" href="">Маша</a>
    <a class="A_FooterLink" href="">Инна</a>
    <a  class="A_FooterLink" href="">Карина</a>
    <a class="A_FooterLink" href="">Захар</a>
    <a class="A_FooterLink" href="">Вадим</a>
    <a class="A_FooterLink" href="">HSE ADC</a>
  </div>
  <p class="A_Paragraph">2023</p>
</footer>